html,
body {
    height: 100%;
    font-family: 'Orbitron', sans-serif;
    
}

body {
    min-height: 100%;
    background-color: black;
    color: white;
}

.container {
    height: 100%;
}

#button-row {
    height: auto;
    margin-bottom: 10px;
}

.main {
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FFD232;
    justify-content: center;
}

.gif-div {
    font-family: 'Orbitron', sans-serif;
}

.band-button {
    font-size: 12px;
    color: #C64F23;
    background-color: #00FFAE;
}

#submit {
    font-size: 12px;
    color: #C64F23;
    background-color: #FFD232;
}

.sidebar {
    padding-top: 10px;
    background-color: #00FFAE;
}

#gifs {
    margin-top: 10px
}

button {
    margin: 2px;
    padding: 5px;
}